<div class=" my-5 text-center">
<h1>PROYECTOS</h1>
</div>


<div class="container col-12 row" >
  <div class="col-4">
    <div class="card" style="width: 18rem;">
    <%= image_tag "iguana_page", class:"card-img-top", alt: "iguana_page" %>
      <div class="card-body">
        <h5 class="card-title">Proyecto Iguana Page HTML</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam animi, minima ducimus beatae adipisci possimus quia temporibus voluptatum itaque maiores deserunt autem, necessitatibus suscipit, nam officiis voluptatem? Rem, laudantium ratione!.</p>
        <a href="#" class="btn boton">Ver Más</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <%= image_tag "oliva_ross", class:"card-img-top", alt: "oliva_ross" %>
      <div class="card-body">
        <h5 class="card-title">Proyecto Oliva Ross Bootstrap</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorem eligendi, quos officiis, in inventore dicta cupiditate eum delectus vero, facilis praesentium hic aliquam ipsam quo ipsum soluta beatae a..</p>
        <a href="#" class="btn  boton">Ver Más</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
        <%= image_tag "morty-smith", class:"card-img-top", alt: "curriculum" %>
      <div class="card-body">
        <h5 class="card-title">Proyecto Curriculum HTML</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sequi cum suscipit provident voluptatem labore quo sit! Cupiditate libero, architecto commodi enim quasi, optio quas fugiat perspiciatis assumenda, harum atque.</p>
        <a href="#" class="btn  boton">Ver Más</a>
      </div>
    </div>
  </div>
</div>
